<!-- <script>
    let radius = 6.2;
    let x = 7, y = 5;

    $: pathd = `M ${x},${y} A ${radius},${radius} 0 1,0 ${20 - x},${y}`
</script>
<div style="border:1px solid red"> -->
<svg viewBox="0 0 20 20" {...$$props}>
    <path d="M 7,5 A 6.2,6.2 0 1,0 13,5" />
    <line x1="10" y1="2" x2="10" y2="10.5" />
</svg>
<!-- </div>
<label>
    <input type="number" bind:value={x} step="0.1" />
    x
</label>
<label>
    <input type="number" bind:value={y} step="0.1" />
    y
</label>
<label>
    <input type="number" bind:value={radius} step="0.1" />
    Radius
</label>
<div>{pathd}</div> -->
