<svg viewBox="0 0 20 20" {...$$props}>
    <rect x="4" y="4" width="12" height="14" stroke-width="1" />
    <line x1="2" y1="4" x2="18" y2="4" stroke-width="2" />
    <line x1="9" y1="3" x2="11" y2="3" stroke-width="2.5" />
    <line x1="8" y1="6" x2="8" y2="16" stroke-width="1" />
    <line x1="12" y1="6" x2="12" y2="16" stroke-width="1" />
</svg>
