<script>
    import { updateAccountData } from "./db";
    import { router } from "./routing";
    import { onDestroy, onMount } from "svelte";
    import Pause from "./icons/Pause.svelte";
    import Play from "./icons/Play.svelte";
    import OnOff from "./icons/OnOff.svelte";
    import Plus from "./icons/Plus.svelte";
    import EditAccount from "./EditAccount.svelte";
    import Account from "./Account.svelte";


    export let accounts;
    export let name;

    let searchTerm = "";

    let timeLeft = "";
    let sessionExpiry = new Date();
    let pausedTimeLeft = null;
    let iid = null;
    sessionExpiry.setMinutes(sessionExpiry.getMinutes() + 15);

    function startTimer() {
        iid = setInterval(function () {
            let delta = sessionExpiry - new Date();
            if (delta > 0) {
                delta = Math.round(delta / 1000);
                const seconds = delta % 60;
                const minutes = parseInt(delta / 60);
                timeLeft = minutes > 9 ? minutes.toString() : "0" + minutes;
                timeLeft += ":" + (seconds > 9 ? seconds.toString() : "0" + seconds);
            } else {
                clearInterval(iid);
                logout();
            }
        }, 120);
    }

    function stopTimer() {
        clearInterval(iid);
        iid = null;
    }

    function toggleTimer() {
        if (pausedTimeLeft === null) {
            pausedTimeLeft = sessionExpiry - new Date();
            stopTimer();
        } else {
            sessionExpiry = new Date();
            sessionExpiry.setMilliseconds(sessionExpiry.getMilliseconds() + pausedTimeLeft);
            pausedTimeLeft = null;
            startTimer();
        }
    }

    onMount(async () => {
        startTimer();
    });

    onDestroy(async () => {
        stopTimer();
    });

    let adding = false;

    async function addAccount({ detail: { account, master_password } }) {
        if (account.login_url && !account.login_url.startsWith("https://")) {
            // Force https in URL to prevent any security hazard during logins
            account.login_url = "https://" + account.login_url;
        }

        accounts = await updateAccountData(
            name,
            master_password,
            accounts.concat([{...account, created_at: new Date()}]),
        );
    }

    async function editAccount({ detail: { index, account, master_password }}) {
        if (account.login_url && !account.login_url.startsWith("https://")) {
            // Force https in URL to prevent any security hazard during logins
            account.login_url = "https://" + account.login_url;
        }

        // Replace the existing object
        accounts.splice(index, 1, {...account, created_at: new Date()});

        accounts = await updateAccountData(name, master_password, accounts);
    }

    async function deleteAccount({ detail: { index, account, master_password }}) {
        if (account.login_url && !account.login_url.startsWith("https://")) {
            // Force https in URL to prevent any security hazard during logins
            account.login_url = "https://" + account.login_url;
        }

        // Remove the object
        accounts.splice(index, 1);

        accounts = await updateAccountData(name, master_password, accounts);
    }

    function logout() {
        router.setRoute("Login");
    }

    $: filteredAccounts = accounts
        .map((x, i) => [x, i])
        .filter(x => (
            x[0].service.includes(searchTerm) ||
            x[0].username.includes(searchTerm) ||
            x[0].notes?.includes(searchTerm)
        ));
</script>

<svelte:head>
	<title>*{ name }</title>
</svelte:head>

<div class="container">
    <h3 class="user-name">{ name }</h3>
    <button class="iconbutton logout" on:click={logout}>
        <OnOff style="stroke:white" />
    </button>
    <div class="time-left">{ timeLeft }</div>
    <button class="iconbutton pause-play" on:click={toggleTimer}>
        {#if pausedTimeLeft === null}
            <Pause />
        {:else}
            <Play />
        {/if}
    </button>
    <input
      class="search"
      style={"visibility:" + (accounts.length > 1 ? "visible" : "hidden")}
      placeholder="Search"
      bind:value={searchTerm}
    />
    <div class="account-list">
        {#if accounts.length === 0 && !adding}
            <div class="no-accounts">
                <div>No accounts added yet.</div>
                <div>Click the + button to add your first one.</div>
            </div>
        {/if}
        {#each filteredAccounts as [account, index]}
            <Account {account} {index} on:edit={editAccount} on:delete={deleteAccount} />
        {/each}
        {#if adding}
            <EditAccount on:confirm={addAccount} on:cancel={() => adding = false} />
        {/if}
    </div>
    {#if !adding}
        <button class="iconbutton new-account" on:click={() => adding = true}>
            <Plus />
        </button>
    {/if}
</div>

<style>
    .logout:active {
        background: rgb(223, 66, 66) !important;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px 60px 50px 1fr auto;
        max-width: 600px;
        margin: 0 auto;
        background: #ebf3f3;
        height: 100vh;
        padding: 0 10px;
    }
    .user-name, .account-list, .new-account, .search {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .logout, .time-left, .pause-play {
        align-self: center;
    }
    .logout {
        background: red;
    }
    .time-left {
        text-align: center;
        font-size: 2em;
    }
    .pause-play {
        margin: auto 0 auto auto;
    }
    .user-name {
        text-align: center;
        font-weight: lighter;
        font-size: 1.3em;
    }
    .search {
        border-radius: 10px;
        padding: 0 14px;
        font-size: 1.14em;
        min-width: 50px;
    }
    .account-list {
        overflow-y: scroll;
        padding: 10px 3px;
    }
    .new-account {
        margin: auto 0 5px auto;
    }
    .no-accounts {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        color: #617191;
        text-align: center;
        flex-direction: column;
    }
    .no-accounts > div:first-child {
        margin-bottom: 30px;
    }
</style>
