<script>
    import { createEventDispatcher } from "svelte";
    import DisplayAccount from "./DisplayAccount.svelte";
    import EditAccount from "./EditAccount.svelte";

    export let index = null;
    export let account;

    let selected = false;
    let flash = false;

    function copy(object) {
        return JSON.parse(JSON.stringify(object));
    }

    const dispatch = createEventDispatcher();

    function confirmEdit({ detail }) {
        dispatch("edit", detail);
        selected = false;
        flash = true;
    }

    function confirmDelete({ detail }) {
        selected = false;
        flash = false;
        dispatch("delete", detail);
    }

    function cancel() {
        selected = false;
        flash = true;
    }
</script>

{#if selected}
    <EditAccount
      account={copy(account)}
      {index}
      on:confirm={confirmEdit}
      on:delete={confirmDelete}
      on:cancel={cancel}
    />
{:else}
    <DisplayAccount {account} {index} on:select={() => selected = true} {flash} />
{/if}
