<script>
    import { router } from './routing.js';
    router.setRoute('Login');
</script>

<main>
    <svelte:component this={$router.currentComponent} {...$router.props} />
</main>

<style>
</style>
