<script>
    import { createEventDispatcher } from "svelte";
    import { common_logins } from "./common_login_urls.js";
    import Edit from './icons/Edit.svelte';

    export let index = null;
    export let account;
    export let flash;

    let showPassword = false;

    const dispatch = createEventDispatcher();

    function toggleColor(node) {
        if (!flash) return;

        node.style.backgroundColor = node.style.backgroundColor ? "" : "yellow";
        let times = 1;
        const intervalId = setInterval(function () {
            node.style.backgroundColor = node.style.backgroundColor ? "" : "yellow";
            if (times === 5) {
                clearInterval(intervalId);
            } else {
                times++;
            }
        }, 250);
    }
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<div class="account" use:toggleColor>
    <div class="account-service">
        <div class="account-service-name">{ account.service }</div>
        <div class="account-service-actions">
            {#if account.login_url || common_logins[account.service]}
                <button on:click|stopPropagation={() => open(account.login_url || common_logins[account.service])}>
                    Open
                </button>
                <button on:click|stopPropagation={() => navigator.clipboard.writeText(account.login_url || common_logins[account.service])}>
                    Copy URL
                </button>
            {/if}
            {#if account.notes}
                <button>Show notes</button>
            {/if}
        </div>
    </div>
    <div class="account-username">
        <span class="account-username-value">{ account.username }</span>
        <button on:click|stopPropagation={() => navigator.clipboard.writeText(account.username)}>Copy</button>
    </div>
    <div class="account-password">
        <span class="account-password-label">
            { showPassword ? account.password : "Password" }
        </span>
        <div class="account-password-actions">
            <button on:click|stopPropagation={() => showPassword = !showPassword}>
                { showPassword ? "Hide" : "Show" }
            </button>
            <button on:click|stopPropagation={() => navigator.clipboard.writeText(account.password)}>Copy</button>
        </div>
    </div>
    <div class="edit-div">
        <button class="iconbutton edit-button" on:click|stopPropagation={() => dispatch('select', { index, account })}>
            <Edit />
        </button>
    </div>
</div>

<style>
    .account {
        padding: 15px 0 15px 4px;
        border-bottom: 1px solid #b4d1d8;
    }
    .account:hover {
        background-color: #c9e4ff;
    }
    .account-service, .account-username {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .account-service-name, .account-username-value, .account-password-label {
        overflow-wrap: anywhere;
        margin-right: 5px;
    }
    .account-service-actions, .account-password-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .account button {
        margin: 2px;
    }
    .account button {
        font-size: 0.7rem;
    }
    .account-password {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .edit-div {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        height: 0;
        transition: height 0.4s;
        visibility: hidden;
    }
    .edit-button {
        width: 30px;
        height: 30px;
    }
    .account:hover .edit-div {
        height: 30px;
        visibility: visible;
    }
</style>
