<script>
    import { createEventDispatcher } from "svelte";
    import Check from "./icons/Check.svelte";
    import Cross from "./icons/Cross.svelte";
    import Trash from "./icons/Trash.svelte";


    export let index = null;
    export let account = {
        service: "",
        username: "",
        password: "",
        login_url: "",
        notes: "",
    };

    let master_password = "";

    const dispatch = createEventDispatcher();

    function scrollIntoView(node) {
        node.scrollIntoView({behavior:"smooth"});
    }

    $: canAdd = !!(
        account.service && account.username && account.password && master_password
    )
</script>

<div class="account">
    <div class="new-account-inputs">
        <label use:scrollIntoView>
            <div>Service</div>
            <!-- svelte-ignore a11y-autofocus -->
            <input bind:value={account.service} autofocus />
        </label>
        <label>
            <div>Username</div>
            <input bind:value={account.username} />
        </label>
        <label>
            <div>Password</div>
            <input bind:value={account.password} type="password" />
        </label>
        <label>
            <div>Master Password</div>
            <input bind:value={master_password} type="password" />
        </label>
        <label>
            <div style="color: #9ec2d4">Login URL</div>
            <input bind:value={account.login_url} />
        </label>
        <label class="notes-label">
            <div style="color: #9ec2d4">Notes</div>
            <textarea bind:value={account.notes}></textarea>
        </label>
    </div>
    <div class="new-account-actions">
        {#if index !== null}
            <button
                class="iconbutton"
                disabled={!master_password}
                on:click={() => dispatch("delete", { index, account, master_password })}>
                <Trash style={ "stroke:" + (!!master_password ? "#ff2323" : "#4770a5") } />
            </button>
        {/if}
        <button
            class="iconbutton"
            disabled={!canAdd}
            on:click={() => dispatch("confirm", { index, account, master_password })}>
            <Check style={ "stroke:" + (canAdd ? "lime" : "#4770a5") } />
        </button>
        <button
            class="iconbutton"
            on:click={() => dispatch("cancel", index)}>
            <Cross style="stroke: #ebf3f3" />
        </button>
    </div>
</div>

<style>
    .new-account-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .new-account-inputs label {
        width: 47%;
        margin: 3px 10px 2px 0;
    }
    .new-account-inputs label input, .new-account-inputs label textarea {
        padding: 5px;
        border-radius: 5px;
        font-size: 1.15em;
        width: 100%;
        min-width: 100px;
    }
    .new-account-inputs label div {
        margin-bottom: 1px;
        font-size: 0.9em;
    }
    @media (max-width: 430px) {
        .new-account-inputs label {
            width: 100% !important;
        }
    }
    .notes-label {
        width: 96% !important;
    }
    .account {
        background-color: #003292;
        color: #ebf3f3;
        padding: 10px 0;
        border-radius: 10px;
        margin: 4px;
        border-top: 3px solid #ebf3f3;
    }
    .new-account-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    .new-account-actions button {
        width: 30px;
        height: 30px;
        margin: 3px;
    }
</style>
