html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

svg {
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0;
}

.iconbutton {
    padding: 0;
    height: 50px;
    width: 50px;
    border: none;
    background: rgba(0,0,0,0);
}

.iconbutton:active, .iconbutton:focus {
    background-color: rgba(0, 170, 253, 0.5) !important;
}

.iconbutton:hover {
    background-color: rgba(104, 255, 255, 0.3);
}


.iconbutton:disabled:hover, .iconbutton:disabled:active {
    background: none !important;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0,100,200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0,80,160);
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
    padding: 0.4rem 0.5rem;
    border-radius: 0.4rem;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

button.primary {
    background-color: rgb(0, 100, 255);
    color: white;
}

button.primary:hover {
    background-color: rgb(0, 100, 255, 0.9);
    border: 1px solid rgb(0, 100, 255);
}

button.primary:active {
    background-color: rgba(0, 100, 200);
    border: 1px solid rgba(0, 100, 255);
}
