<script>
    import { tick } from 'svelte';
    import { getAccountDetails, getDb } from './db.js';
    import EyeClosed from './icons/EyeClosed.svelte';
    import EyeOpen from './icons/EyeOpen.svelte';
    import MpmAccounts from './MpmAccounts.svelte';
    import { router } from './routing.js';

    let type = "password";
    let inputElement = null;
    let account = null;

    function focusPasswordInput() {
        setTimeout(function () {inputElement.focus()}, 0);
    }

    async function login() {
        const db = await getDb();
        try {
            const data = await getAccountDetails(db, account.name, account.password);
            router.setRoute("Accounts", {accounts: data, name: account.name});
        } catch (error) {
            console.log(error);
        }
        db.close();
    }

    function setText(e) {
        type = "text";
        focusPasswordInput();
    }

    function setPassword(e) {
        type = "password";
        focusPasswordInput();
    }

    async function changeAccount(value) {
        account = value.detail;
        await tick();  // For inputElement to update
        inputElement.value = account.password;
        focusPasswordInput();
    }
</script>

<svelte:head>
	<title>*passwd*</title>
</svelte:head>

<div class="container">
    <MpmAccounts on:select={changeAccount} />
    {#if account}
        <div class="content">
            <h3>{ account.name }</h3>
            <div class="email">{ account.email }</div>
            <div>
                <button class="iconbutton btn" on:click={setText} hidden={type === "text"}>
                    <EyeOpen style="vertical-align: bottom" />
                </button>
                <button class="iconbutton btn" on:click={setPassword} hidden={type === "password"}>
                    <EyeClosed style="vertical-align: bottom" />
                </button>
                <input id="password" {type} placeholder="Password" on:input={e => account.password = e.target.value} bind:this={inputElement} />
                <button class="primary" on:click={login}>Login</button>
            </div>
        </div>
    {/if}
</div>

<style>
@media (max-width: 1000px) {
    .container {
        font-size: 1rem !important;
    }
}
@media (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
    }
    input {
        margin: 0 !important;
    }
    .content {
        padding: 0 !important;
    }
}
.container {
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    transition: all 0.5s;
}
.content {
    max-width: 600px;
    height: 200px;
    transition: all 5s;
    border-radius: 0.9rem;
    padding: 0.88rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn {
    width: 30px;
    height: 100%;
    vertical-align: bottom;
}
input {
    all: unset;
    color: #555;
    border: 0.1rem solid gray;
    margin: 0.2rem 1rem;
    padding: 0.3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(0, 183, 255, 0.1);
}
input:focus {
    background-color: inherit;
    outline: 2px solid rgb(0, 183, 255);
    border-bottom: none;
    border-radius: 0.5rem;
}
.email {
    overflow-x: scroll;
    margin: 0 auto 2px auto;
    padding: 10px;
    max-width: 300px;
    padding-bottom: 20px;
    font-size: 0.9rem;
    color: #656;
}
h3 {
    margin-bottom: 0;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    overflow-x: scroll;
}
</style>
