<script>
    import { createEventDispatcher, onMount, onDestroy, tick } from 'svelte';
    import { getDb, getAccounts, addAccount } from './db.js';
    import Plus from './icons/Plus.svelte';
    import Cross from './icons/Cross.svelte';
    import Check from './icons/Check.svelte';
    import RightArrow from './icons/RightArrow.svelte';
    import LeftArrow from './icons/LeftArrow.svelte';

    let selectedIndex = null;
    let newAccountStep = null;
    let inputElement = null;
    let buttonClasses = "";

    /**
     * @param {string} name
     */
    function nameExists(name) {
        for (let account of accounts)
            if (account.name === name)
                return true;
        return false;
    }

    /**
     * @param {{ target: { value: string; }; }} event
     */
    function setValue(event) {
        let val = event.target.value;
        // @ts-ignore
        if (this.validate && this.validate(val))
            this.error = null;
        this.value = val;
        steps = steps;  // Tells svelte that steps has changed
    }
    let steps = [
        {
            label: "Name",
            type: "text",
            key: "name",
            value: "",
            error: null,
            validate: function (/** @type {string} */ value) {
                if (!value) {
                    this.error = "Name cannot be empty"
                    return false;
                }
                if (!nameExists(value)) {
                    return true;
                }
                this.error = "Name already exists";
                return false;
            },
            setValue,
        },
        {
            label: "Email",
            type: "email",
            key: "email",
            value: "",
            setValue,
        },
        {
            label: "Password",
            type: "password",
            key: "password",
            value: "",
            validate: function (/** @type {string} */ value) {
                if (!value) {
                    this.error = "Password cannot be empty"
                    return false;
                }
                if (value.length < 9) {
                    this.error = "Password length cannot be less than 9 characters"
                }
                return true;
            },
            setValue,
        },
    ]
    for (let step of steps)
        step.validate ? step.validate() : null;
    let searchTerm = "";
    let accounts = [];
    let db = null;

    onMount(async () => {
        db = await getDb();
        accounts = (await getAccounts(db)).map(
            (/** @type {{ name: string; email: string; }} */ x) => ({
                name: x.name,
                email: x.email,
                password: "",
            })
        );

        await tick();  // Allow UI to update

        if (accounts.length === 0) {
            newAccountStep = 0;
        } else if (accounts.length === 1) {
            selectAccount(0);
        }
    });

    onDestroy(async () => {
        if (db) db.close();
    });

    const dispatch = createEventDispatcher();

    /**
     * @param {number} index
     */
    function selectAccount(index) {
        selectedIndex = index;
        dispatch('select', accounts[index]);
    }

    async function createAccount() {
        let newAccount = {};
        for (let step of steps)
            newAccount[step.key] = step.value;

        await addAccount(db, newAccount);

        accounts = (await getAccounts(db)).map(x => ({
            name: x.name,
            email: x.email,
            password: "",
        }));

        newAccountStep = null;

        if (accounts.length === 1) {
            await tick();
            selectAccount(0);
        }
    }

    function focusInput() {
        setTimeout(function () {
            inputElement.value = steps[newAccountStep].value;
            inputElement.focus();
        }, 0);
    }

    function nextStep() {
        if (newAccountStep < steps.length - 1)
            newAccountStep++;
        focusInput();
    }

    function previousStep() {
        if (newAccountStep > 0)
            newAccountStep--;
        focusInput();
    }

    $: filteredAccounts = accounts
        .map((x, i) => [x, i])
        .filter(x => x[0].name.includes(searchTerm) || x[0].email.includes(searchTerm))

    $: anyErrors = steps.filter(step => step.error).length > 0

    $: if (newAccountStep !== null) {
        buttonClasses = "iconbutton " + (steps[newAccountStep].error ?  "self-center" : "self-end");
    } else {
        buttonClasses = "";
    }
</script>

<div class="accounts-container">
    {#if accounts.length > 1}
        <!-- svelte-ignore a11y-autofocus -->
        <input class="search" type="text" bind:value={searchTerm} placeholder="Search" autofocus />
    {/if}
    <div class="dummy">
        {#each filteredAccounts as [detail, i]}
            <!-- svelte-ignore a11y-click-events-have-key-events -->
            <div class={'account-container' + (selectedIndex === i ? ' selected' : '')} on:click={e => selectAccount(i)}>
                <div>{ detail.name }</div>
                <div class="email">{ detail.email }</div>
            </div>
        {/each}
        {#if newAccountStep !== null}
            <div class="new-account">
                {#if newAccountStep > 0}
                    <button class={buttonClasses} on:click={previousStep}>
                        <LeftArrow />
                    </button>
                {:else}
                    <button class={buttonClasses} on:click={e => newAccountStep = null}>
                        <Cross style="stroke:#d00101" />
                    </button>
                {/if}
                <label>
                    <div>{ steps[newAccountStep].label }</div>
                    <!-- svelte-ignore a11y-autofocus -->
                    <input autofocus
                     type={ steps[newAccountStep].type}
                     on:input={e => steps[newAccountStep].setValue(e) }
                     bind:this={inputElement}
                     />
                    {#if steps[newAccountStep].error }
                        <div class="step-error">{ steps[newAccountStep].error }</div>
                    {/if}
                </label>
                {#if newAccountStep < steps.length - 1}
                    <button class={buttonClasses} on:click={nextStep}>
                        <RightArrow />
                    </button>
                {:else}
                    <button class={buttonClasses} on:click={createAccount} disabled={anyErrors}>
                        <Check style={"stroke:" + (anyErrors ? "#aec3de" : "green")} />
                    </button>
                {/if}
            </div>
        {/if}
    </div>
    {#if newAccountStep === null}
        <button class="iconbutton add" on:click={e => newAccountStep = 0}>
            <Plus style="stroke:green" />
        </button>
    {/if}
</div>

<style>
    @media (max-width: 900px) {
        .accounts-container {
            height: 70vh !important;
            border-radius: 10px;
        }
        .account-container {
            width: 320px !important;
        }
    }
    .step-error {
        color: red;
        font-size: 0.9rem;
    }
    .search {
        border-radius: 5px;
        margin: 10px;
        padding: 5px;
    }
    .add {
        margin: 10px;
        width: 60px;
        height: 60px;
        align-self: end;
    }
    .new-account {
        padding: 4px;
        display: flex;
        justify-content: space-between;
    }
    .self-center {
        align-self: center;
    }
    .self-end {
        align-self: end;
    }
    .new-account > label > div {
        font-size: 0.8rem;
        text-align: left;
    }
    .new-account > label > input {
        padding: 8px;
        border-radius: 7px;
        width: 100%;
    }
    .accounts-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        cursor: default;
        justify-content: center;
        background: #ebf3f3;
        border: 1px solid #9ec2d4;
    }
    .dummy {
        overflow-y: scroll;
        padding: 4rem 0;
    }
    .selected {
        transform: scaleY(0.9) scaleX(0.96);
        background-color: #003292 !important;
        color: white;
        padding-top: 1.3rem !important;
        padding-bottom: 1.3rem !important;
    }
    .account-container {
        transition: all 0.7s;
        width: 400px;
        margin: 4px;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 0.6rem 1rem;
        background-color: #c9e4ff;
        border-radius: 0.4rem;
    }
    .account-container:hover {
        background-color: #ddeeff;
    }
    .selected .email {
        color: #cdd;
    }
    .email {
        color: #656;
        font-size: 0.9rem;
    }
</style>
